Adafruit-Blinka==8.26.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-motor==3.4.12
adafruit-circuitpython-pca9685==3.4.11
adafruit-circuitpython-register==1.9.17
adafruit-circuitpython-requests==2.0.2
adafruit-circuitpython-servokit==1.3.16
adafruit-circuitpython-typing==1.9.5
Adafruit-GPIO==1.0.3
Adafruit-PCA9685==1.0.1
Adafruit-PlatformDetect==3.56.0
Adafruit-PureIO==1.1.11
board==1.0
colorzero==2.0
hidapi==0.14.0
imutils==0.5.4
keyboard==0.13.5
pygame==2.5.2
pynput ==1.8.1
pyserial==3.5
python-dateutil==2.8.2
pytz==2023.3
pyusb==1.2.1
rpi-lgpio==0.6
six==1.16.0
typing_extensions==4.8.0
tzdata==2023.3
